#color-palette {
  text-align: center;
}

h1 {
  text-align: center;
}

.color {
  display: inline-block;
  height: 50px;
  margin: 5px;
  width: 50px;
  border: 1px solid black;
}

#pixel-board {
  width: fit-content;
  margin: auto;
  justify-content: center;
}

.pixel {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-bottom: -4px;

  /* background-color: white; */
}

#button-random-color {
  margin-bottom: 10px;
  margin-left: 860px;
  margin-right: 10px;
}

#board-size {
  margin-left: 850px;
}
